<li rel="root" name="organisat_bank" tagid="1000175" haschildren="true" level="1" class="jstree-open">
    <ins class="jstree-icon">&nbsp;</ins>ins
    <a title="Bank" href="#" style="" class="focusedNode">
        <ins class="jstree-icon">&nbsp;</ins>
        Bank
    </a>
    <ul>
        <li rel="root" name="organisat_verintbank" tagid="1000176" haschildren="true" level="2" class="jstree-closed">
            <ins class="jstree-icon">&nbsp;</ins>
            <a title="Verint Bank" href="#">
                <ins class="jstree-icon">&nbsp;</ins>
                Verint Bank
            </a>
        </li>
        <li rel="leaves" name="organisat_kanabank" tagid="1000178" haschildren="false" level="2" class="jstree-leaf">
            <ins class="jstree-icon">&nbsp;</ins>
            <a title="Kana Bank" href="#">
                <ins class="jstree-icon">&nbsp;</ins>
                Kana Bank
            </a>
        </li>
    </ul>
</li>
$
<td colspan="2" class="yui-dt-first yui-dt-last">
    <div/ class="yui-dt-liner yui-dt-loading yui-dt-empty" style="width: 1688px;">
        <a onclick="void(0);return false;"
            href="#" tabindex="-1" class="tabbable">No records found.</a></div>
</td>