html, body, div {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	max-width: 800px;
	margin: auto;
	position: relative;
}

body > div.cont {
	padding: 8px;
	height: 100%;
	border: 1px solid #333333;
	position: relative;
}

div.dialog {
	position: absolute;
	top:0px;
	left:0px;
	right: 0px;
	bottom: 0px;
	background-color:rgba(0, 0, 0, .1);
	/* display: flex; */
}

div.dialog div.box {
	width: 50%;
	min-width: 480px;
	/* min-height: 100px; */
	margin: auto;
	box-shadow: 3px 3px 0px 0px rgb(33, 33, 33);
	top:160px;
	position: relative;
	background-color: white;
	padding: 4px;
}

div.dialog div.content {
	text-align: center;
	min-height: 100px;
}

div.dialog div.footer {
	text-align: center;
}



button {
	padding: 8px;
	border: 1px solid #333333;
	background-color: white;
	color: #333333;
	position: relative;
	box-shadow: 3px 3px 0px 0px rgb(33, 33, 33);
	top:0px;
	left:0px;
}

button.green {
	background-color: green;
}

button:disabled {
	color: grey;
	background-color: #555555;
}

button:active {
	top:3px;
	left:3px;
	box-shadow: none;
}

div.close-btn-cont {
	text-align: right;
}

div.list-cont {
	padding:4px;
}

div.list-item {
	border: 1px solid;
	padding: 4px;
	margin-bottom: 4px;
}

div.list-item.selected {
	border: 3px solid;
}