div.home-page {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

div.home-page div.cont {
	display: flex;
	/* height: 100%; */
	flex-grow: 1;
}

div.home-page div.cont div.button {
	padding: 8px;
}

div.home-page div.cont div.button button {
	display: block;
	margin-top: 16px;
	width: 100%;
}

div.home-page div.cont div.list {
	flex-grow: 1;
	/* height: 100%; */
	border: 1px solid;
}

div.home-page div.cont div.button {
	min-width: 200px;
}