div.select-step button.close {
	text-align: right;
}

div.select-step div.step-type {
	border: 1px solid #333333;
	margin-top:8px;
}

div.select-step div.step-type.selected {
	border: 3px solid #333333;
}


div.select-step div.list-cont {
	border: 1px solid #333333;
	padding: 8px;
}