div.tanya-nama {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .2);
}

div.tanya-nama div.cont {
	width: 80%;
	margin-top: 64px;
	border: 1px solid;
	padding: 16px;
	background-color: white;
	margin: auto;
}