div.test-page {
	height: 100%;
	display: flex;
	flex-direction: column;
}
div.test-page div.cont {
	display: flex;
	/* height: 100%; */
	flex-grow: 1;
}

div.test-page div.cont div.list-cont {
	flex-grow: 1;
	border: 1px solid;
	padding: 4px;
	margin: 4px;
	margin-left: 0px;
}

div.test-page div.cont div.btn-cont {
	width: 200px;
	padding: 8px;
	/* padding-right: 8px;
	padding-top: 8px; */
	border: 1px solid;
	margin: 4px;
}

div.test-page div.cont div.btn-cont button {
	display: block;
	width: 100%;
	/* margin-top:8px; */
	margin-bottom: 8px;
}

/* div.test-page div.step-type {
	border: 1px solid;
	margin-bottom: 4px;
} */